# Context settings
context=dev

# Database settings
log_queries=False
database=sqlite
sqlite__file_name='' # if there is no filename the sqlite will be in memory
postgres__host=127.0.0.1
postgres__port=5432
postgres__user=
postgres__password=
postgres__database=

# Jwt Token settings
access_token_expire_minutes=1
refresh_token_expire_minutes=1
algorithm='HS256'
secret_key=''
refresh_secret_key=''

# CORS Middleware settings
allow_origins='["http://localhost", "http://127.0.0.1", "http://localhost:5173"]'
allow_methods='["*"]'
allow_headers='["*"]'

# Brevo settings
email_api_key=''
email_api_url=''
email_sender=''
email_from=''

# Confirmation Token settings
email_token_expiration_minutes=1
password_token_expiration_minutes=1

# Server configuration
server__host=http://127.0.0.1
server__port=80

# Cloudinary settings
cloud_name=
api_key=
api_secret=

# Rabbitmq settings
rabbitmq__user=''
rabbitmq__password=''

# OpenAi
chatgpt_api_key=''


# Celery settings
celery__broker=pyamqp://
celery__backend=rpc://
celery__host=localhost
celery__port=5672
celery__task_serializer=json
celery__result_serializer=json
celery__accept_content=["json"]
celery__timezone=UTC
celery__enable_utc=True
celery__broker_connection_retry_on_startup=True
celery__include_tasks=["features.images.tasks", "features.users.tasks", "features.recipes.tasks"]
celery__beat_schedule=["features.images.tasks.upload_images_to_cloud_storage/600"]

# AppUsers
users=[{"username": "admin1", "email": "admin1@mail.com", "password": "Password1@"}]

# AppUsersRole
role=admin

# AppRecipeCategories
categories=["Breakfast","Lunch","Beverages","Appetizers","Soups","Salads","Beef","Poultry","Pork","Seafood","Vegetarian","Vegetables","Desserts","Canning / Freezing","Breads","Holidays"]

#gRPC
users_grpc_server_host = "localhost:50051"