<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>
</head>
<body>
<div class="container"
     style="
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     max-width: 600px;
     margin: 0 auto;
     background-color: #f2f2f2;
    ">
    <div class="header" style="background-color: #FBB040; padding: 2px">
        <div class="image" style="">
            <img src="https://res.cloudinary.com/drsg8bmfq/image/upload/v1704883383/dvwiuhpjfeix9de3gwxi.png"
                 alt="kitchen-helper logo"
                 style="display: block; width: 150px; margin: auto"
            >
        </div>
    </div>
    <div class="body-message" style="padding: 20px; color: #666; font-size: 14px; text-align: left">
        <h1 style="margin-top: 0; margin-bottom: 20px; font-size: 26px">Welcome to Kitchen Helper</h1>
        <p>Hello {{ recipient_name }},</p>
        <p style="line-height: 1.6">Thank you for registering with our service. Please click the button below to confirm
            your email address:</p>
        <a href="{{ token_confirmation_link }}" class="button"
           style="
           display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            background-color: #FBB040;
            border-radius: 5px;
            margin: 5px 0;
           color: #FFFFFF"
        >Confirm Email</a>
        <p style="line-height: 1.6">If you didn't sign up for our service, you can ignore this email.</p>
        <p style="line-height: 1.6">Best regards,<br>Kitchen Helper</p>
    </div>
</div>
</body>
</html>
