<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello, {{ recipient_name }}</p>
    <br>
    <p>We received a request to reset your password. Please click the link below to reset your password:</p>
    <a href="{{ token_confirmation_link }}">{{ token_confirmation_link }}</a>
    <br>
    <p>If you did not request a password reset, please ignore this email.</p>
</body>
</html>